name: Release Docker image
on:
  push:
    tags:
      - '*'

jobs:
  docker-image:
    name: Release Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Docker meta
        uses: docker/metadata-action@v3
        with:
          images: marcinbudny/eventstore_exporter

    # - name: Build and push
    #   uses: docker/build-push-action@v2
    #   with:
    #     push: true
    #     tags: ${{  }}
