name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2

  test:
    strategy:
      matrix:
        esVersion:
          - eventstore/eventstore:23.10.1-bookworm-slim
          - eventstore/eventstore:24.10.4-bookworm-slim
          - kurrentplatform/kurrentdb:25.1

    name: tests on ES ${{ matrix.esVersion }}

    runs-on: ubuntu-latest
    container: golang:1.24-bookworm

    services:
      eventstore:
        image: ${{ matrix.esVersion }}
        env:
          EVENTSTORE_INSECURE: 'True'
          EVENTSTORE_RUN_PROJECTIONS: All
          EVENTSTORE_ENABLE_ATOM_PUB_OVER_HTTP: 'True'
          KURRENTDB_INSECURE: 'True'
          KURRENTDB_RUN_PROJECTIONS: All
          KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP: 'True'
        # override eventstore healthcheck that does not work properly
        options: >-
          --health-cmd "sleep 10"
          --health-interval 15s
          --health-timeout 15s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: run-tests
        env:
          TEST_EVENTSTORE_URL: http://eventstore:2113
        run: go test ./...

  docker-build:
    name: Docker image build

    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - uses: docker/build-push-action@v6
        with:
          push: false
          platforms: linux/amd64,linux/arm64
