name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.21.3"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2

  test:
    strategy:
      matrix:
        esVersion:
          - 22.10.5-bookworm-slim
          - 23.10.1-bookworm-slim
          - "24.2"

    name: tests on ES ${{ matrix.esVersion }}

    runs-on: ubuntu-latest
    container: golang:1.21.3-bookworm

    services:
      eventstore:
        image: eventstore/eventstore:${{ matrix.esVersion }}
        env:
          EVENTSTORE_ENABLE_EXTERNAL_TCP: 'True'
          EVENTSTORE_INSECURE: 'True'
          EVENTSTORE_RUN_PROJECTIONS: All
        # override eventstore healthcheck that does not work properly
        options: >-
          --health-cmd "sleep 5"
          --health-interval 10s
          --health-timeout 10s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: run-tests
        env:
          TEST_EVENTSTORE_URL: http://eventstore:2113
        run: go test ./...

  docker-build:
    name: Docker image build

    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - uses: docker/build-push-action@v3
        with:
          push: false
          platforms: linux/amd64,linux/arm64
